<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100&display=swap"
      rel="stylesheet"
    />

    <title>AngularTS Seed</title>
    <link rel="stylesheet" href="/index.css" />
    <meta name="description" content="" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:alt" content="" />

    <link rel="icon" href="/assets/favicon.ico" sizes="any" />
    <link rel="icon" href="/assets/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/assets/icon.png" />

    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#fafafa" />
  </head>

  <body ng-app="todo" ng-cloak>
    <style>
      .done-true {
        text-decoration: line-through;
        color: grey;
      }

      ul {
        padding: 0;
      }

      header,
      li {
        padding: 0 0 1rem 0;
        display: flex;
        justify-content: space-between;
      }
    </style>

    <div ng-controller="TodoCtrl as $ctrl">
      <h3>Todos</h3>
      <button ng-click="$ctrl.archive()">Archive</button>
      <ul>
        <li ng-repeat="todo in $ctrl.list.tasks" class="done-{{todo.done}}">
          {{ todo.task }}
          <input type="checkbox" ng-click="todo.done = !todo.done" />
        </li>
      </ul>

      <form ng-submit="$ctrl.add(newTodo)">
        <input type="text" ng-model="newTodo" ng-required="true" />
        <button type="submit">Add</button>
      </form>
    </div>
    <script type="module" src="./todo-app.js"></script>
  </body>
</html>
